.reveal p, .reveal h1, .reveal h2, .reveal h3, .reveal h4{
	clear: both;
}
	
.reveal a {
	color:#006cff;
}
.reveal h1 {
	font-size: 2.7em;
}

.reveal .left {
	text-align:left;
}

.reveal .right {
	text-align:right;
}

.reveal .center {
	text-align:center;
}

.reveal code {
	font-family: "consolas", monospace;
	font-size: .95em;
	width: auto;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); 
	padding:1px 2px;
	background-color: #f0f0f0;
}

.reveal pre {
	display:inline-block;
	width:auto;
	box-shadow: none;
	
}

.reveal pre code {
	min-width: 300px;
	padding: 8px 15px 10px 15px;
	background: #ffffff;
	color: #000000;
	-webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    user-modify: read-write;
}

.reveal pre.comparison {
	float:left;
	width:50%;
	font-size:0.45em;
	
}

.reveal pre.whole-line {
	position:relative;
	display:block;
	text-align:center;
}
.reveal pre.whole-line code {
	display: inline-block;
	text-align:left;
}

.reveal section > p {
	font-size: 0.85em;
}
.reveal li {
	font-size: 0.85em;
}

.reveal ul {
  list-style-type: none;
}

.reveal ul ul {
  list-style-type: none; }


.reveal ul ul ul {
  list-style-type: none; }

.reveal hr {
	margin-bottom:50px;
}

.reveal .formula, .formula {
	font-family: consolas, monospace ;
	font-size: .85em;
	font-weight: 600;
	display: inline-block;
	margin-bottom: 40px;
	padding: 10px 30px 10px 30px;
  	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); 
	background-color: #ebebeb;
	border: 1px solid #999;
}

.reveal .formula.light{
	font-weight: 300;
}

.reveal .formula.short{
	margin-bottom: 20px;
}

.reveal .formula.comparison{
	float:left;
	display: block;
	width:44%;
	margin: inherit 0 inherit 0;
	clear: none;
}

.reveal .small {
  font-size: 0.7em;
  line-height: 1.2em;
  vertical-align: top; 
}

.reveal .smaller {
  font-size: 0.55em;
  line-height: 1.2em;
  vertical-align: top; 
}


.reveal .header {
	font-style: italic;
	text-align: right;
	border-bottom: 1px solid;
}

.reveal .noVmargins {
	margin-top: 0;
	margin-bottom: 0;
}

.reveal section img {
    border: 1px solid #000;
}